<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schooltools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/student_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/student_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaOnline">
        <activity
            android:name="com.example.schooltools.Configuracion.Configuracion"
            android:exported="false" />
        <activity
            android:name="com.example.schooltools.Contactos.Actualizar_Contacto"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Tareas.Definir_Asignaturas"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Contactos.Detalle_contacto"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Contactos.Agregar_Contacto"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.ActualizarPass.ActualizarPassUsuario"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Perfil.Editar_imagen_perfil"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Tareas.Detalle_Tarea"
            android:exported="true" />
        <activity android:name="com.example.schooltools.Tareas.Actualizar_Tarea" />
        <activity android:name="com.example.schooltools.Perfil.Perfil_Usuario" />
        <activity android:name="com.example.schooltools.Tareas.Tareas_Importantes" />
        <activity android:name="com.example.schooltools.Tareas.Agregar_Tarea" />
        <activity
            android:name="com.example.schooltools.MenuPrincipal"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Registro"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Login"
            android:exported="true" />
        <activity
            android:name="com.example.schooltools.Pantalla_De_Carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.schooltools.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>